<!DOCTYPE html>
<html ng-app="productsApp">

    <head>
        <title>Working with ng-show, ng-hide, ng-if, ng-bind, ng-model directives</title>
    </head>

    <body>
      <h1>ng-show directive</h1>
      <div ng-controller="AccessoriesController as ctrl">
        <ul>
          <li ng-repeat="accessory in ctrl.accessories">
            <input type="checkbox" ng-model="accessory.show"/>
            <span ng-show="accessory.show">
              <span ng-bind="accessory.name"></span> - $<span ng-bind="accessory.price"></span>
            <span>
          </li>
        <ul>
      </div>

      <h1>ng-hide directive</h1>
      <div ng-controller="AccessoriesController as ctrl">
        <ul>
          <li ng-repeat="accessory in ctrl.accessories">
            <input type="checkbox" ng-model="accessory.show"/>
            <span ng-hide="accessory.show">
              <span ng-bind="accessory.name"></span> - $<span ng-bind="accessory.price"></span>
            <span>
          </li>
        <ul>
      </div>

      <h1>ng-if directive</h1>
      <div ng-controller="AccessoriesController as ctrl">
        <ul>
          <li ng-repeat="accessory in ctrl.accessories">
            <input type="checkbox" ng-model="accessory.show"/>
            <span ng-if="accessory.show">
              <span ng-bind="accessory.name"></span> - $<span ng-bind="accessory.price"></span>
            <span>
          </li>
        <ul>
      </div>

      <script src="../../../node_modules/angular/angular.js"></script>
      <script src="app.js"></script>
      <script src="accessoriesController.js"></script>
    </body>

</html>
