<!DOCTYPE html>
<html ng-app="demoApp">

    <head>
        <title>Working with controllers using built-in services</title>
        <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css" charset="utf-8">
    </head>

    <body ng-controller="LocationDetailController as location">

      <div class="container" style="margin-top:100px;">

          <table class="table table-bordered">
             <tr ng-repeat="(key, value) in location.locationInfo">
                 <td style="padding:5px;font-weight:bold;" ng-bind="key"></td>
                 <td style="padding:5px" ng-bind="value"></td>
             </tr>
           </table>

           <br/><br/>

           <div class="row">
               <div class="btn-group col-sm-12">
                   <button ng-click="location.route()" class="btn btn-info">Route</button>
                   <button ng-click="location.hash()" class="btn btn-info">Hash</button>
                   <button ng-click="location.search()" class="btn btn-info">Search</button>
                   <button ng-click="location.url()" class="btn btn-info">Url</button>
               </div>
           </div>

       </div>


      <script src="../../../node_modules/angular/angular.js"></script>
      <script src="app.js"></script>
      <script src="locationDetailController.js"></script>
    </body>

</html>
