<div class="row">
    <div class="col-sm-12">
        <time ng-bind="myEventDetail.date | date:'EEE, MMM dd' | uppercase"></time>
        <span>{{myEventDetail.venue.city | uppercase}}, {{myEventDetail.venue.state | uppercase}}</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2 ng-bind="myEventDetail.name"></h2>
    </div>
</div>
<div class="row">
    
    <div class="col-sm-6" ng-show="myEventDetail.sessions.length">
        <h4>Sessions</h4>
        <ul class="list-unstyled">
            <li ng-repeat="session in myEventDetail.sessions">
                {{session}}&nbsp;<span class="glyphicon glyphicon-remove" ng-click="removeSession($index)"></span>
            </li>
        </ul>
    </div>

    <div class="col-sm-6" ng-show="myEventDetail.speakers.length">
        <h4>Speakers</h4>
        <ul class="list-unstyled">
            <li ng-repeat="speaker in myEventDetail.speakers">
                {{speaker}}&nbsp;<span class="glyphicon glyphicon-remove" ng-click="removeSpeaker($index)"></span>
            </li>
        </ul>
    </div>

</div>