<!DOCTYPE html>
<html ng-app="cityDetailApp">

    <head>
        <title>Working with Controllers</title>
        <link rel="stylesheet" href="styles.css" />
    </head>

    <body ng-controller="CityDetailController as city">

      <div style="float:left;width:20%;padding:10px;">
        <ul class="venues">
          <li  ng-repeat="venue in city.venues">
            <span ng-bind="venue.name" ng-click="city.showVenue(venue.id)"></span>
          </li>
        </ul>
      </div>

      <div ng-if="city.selectedVenue" class="details">
        <p ng-bind="city.selectedVenue.id"><p>
        <p ng-bind="city.selectedVenue.name"><p>
        <p ng-bind="city.selectedVenue.city"><p>
        <p ng-bind="city.selectedVenue.country"><p>
        <p ng-bind="city.selectedVenue.latitude"><p>
        <p ng-bind="city.selectedVenue.longitude"><p>
        <p ng-bind="city.selectedVenue.country_code"><p>
      </div>

      <script src="../../../node_modules/angular/angular.js"></script>
      <script src="app.js"></script>
      <script src="city-detail.controller.js"></script>
    </body>

</html>
